@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <img src="~/homepage-banner-01.png" width="100%" />
</div>
<div>
    <h3 class="justify-content-between mt-5" style="font-size:20px;">
        We help progressive organizations promote a culture of positive health and well-being among their employees through innovative and effective wellness solutions.
    </h3>
</div>