<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/28a34c68-3b10-4ca7-b63d-6d0213666eeb/resourceGroups/Ujala2025/providers/Microsoft.Web/sites/bookappointment-api</ResourceId>
    <ResourceGroup>Ujala2025</ResourceGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookappointment-api-gkguaqdshfarcbdq.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>1bcf54ba-8b8d-4c1d-937d-989f40d1b5d1</ProjectGuid>
    <PublishUrl>https://bookappointment-api-gkguaqdshfarcbdq.scm.centralindia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>